<a href="https://colab.research.google.com/github/wwoskie/Biostat_BI_2022/blob/biostat_project_1/biostat_project_1/biostat_project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Данные разбиты на несколько файлов. Нам надо как-то объединить наблюдения в единую таблицу. Пожалуйста, напишите пользовательскую функцию, благодаря которой мы сможем собрать все наши наблюдения в одну таблицу. Так как олимпиады будут проводиться регулярно, то функция должна объединять все файлы определенного расширения из заданной папки (тип расширения передается как аргумент функции). (5 баллов)

In [7]:
import pandas as pd
import os

In [21]:
def table_merger(dir_name, file_extension, sep = ',', save_table = False, **kwargs):
    
    reading_functions_dct = {
        pd.read_csv: ['.csv', '.tsv', '.txt']
    }
    
    files_to_read = [file for file in os.listdir(dir_name) if file.endswith(file_extension)]
    
    if len(files_to_read) > 0:
        df = pd.read_csv(os.path.join(dir_name, files_to_read[0]))
    else:
        df = None
        
    if len(files_to_read) > 1:
        for file in files_to_read[1:]:
            df = pd.concat([df, pd.read_csv(os.path.join(dir_name, file))])

    return df

In [22]:
table_merger(dir_name = 'athlete_events', file_extension = '.csv')

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,124517,William Van Dijck,M,23.0,185.0,65.0,Belgium,BEL,1984 Summer,1984.0,Summer,Los Angeles,Athletics,"Athletics Men's 3,000 metres Steeplechase",NaN
1,124517,William Van Dijck,M,27.0,185.0,65.0,Belgium,BEL,1988 Summer,1988.0,Summer,Seoul,Athletics,"Athletics Men's 3,000 metres Steeplechase",NaN
2,124517,William Van Dijck,M,31.0,185.0,65.0,Belgium,BEL,1992 Summer,1992.0,Summer,Barcelona,Athletics,"Athletics Men's 3,000 metres Steeplechase",NaN
3,124518,"Daniel ""Daan"" van Dijk",M,21.0,NaN,NaN,Netherlands,NED,1928 Summer,1928.0,Summer,Amsterdam,Cycling,"Cycling Men's Tandem Sprint, 2,000 metres",Gold
4,124519,"Everdina ""Edith"" van Dijk",F,35.0,176.0,66.0,Netherlands,NED,2008 Summer,2008.0,Summer,Beijing,Swimming,Swimming Women's 10 kilometres Open Water,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22831,12004,Peter Grant Blackburn,M,28.0,179.0,78.0,Australia,AUS,1996 Summer,1996.0,Summer,Atlanta,Badminton,Badminton Mixed Doubles,NaN
22832,12004,Peter Grant Blackburn,M,28.0,179.0,78.0,Australia,AUS,1996 Summer,1996.0,Summer,Atlanta,Badminton,Badminton Men's Doubles,NaN
22833,12004,Peter Grant Blackburn,M,32.0,179.0,78.0,Australia,AUS,2000 Summer,2000.0,Summer,Sydney,Badminton,Badminton Mixed Doubles,NaN
22834,12004,Peter Grant Blackburn,M,32.0,179.0,78.0,Australia,AUS,2000 Summer,2000.0,Summer,Sydney,Badminton,Badminton Men's Doubles,NaN
22835,12005,Andrea Melissa Blackett,F,24.0,167.0,59.0,Barbados,BAR,2000 Su,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
kwargs = {
    'uno': 'uno',
    'dos': 'dos',
    'tres': 'tres'
    }

In [31]:
print(*kwargs)

uno dos tres

In [32]:
{**kwargs}

{'uno': 'uno', 'dos': 'dos', 'tres': 'tres'}